#operations {
    background: white;
    max-height: 50px;
    overflow-y: hidden;
}

#ping {
    background: white;
    max-height: 50px;
    overflow-y: hidden;
}

#repeat {
    background: white;
    max-height: 50px;
    overflow-y: hidden;
}

#repeatResult {
    background: white;
    max-height: 400px;
    overflow-y: hidden;
}

.bar {
    background: white;
    max-width: 200px;
    height: 30px;
    float: left;
    margin: 1em;
}

.repeatContainer {
    background: white;
    max-height: 400px;
    overflow-y: hidden;
}